@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* { box-sizing: border-box; margin: 0; padding: 0; }
html, body { height: 100%; }

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #3f4147; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #555860; }
